 /* 1. Reset Browser style
-------------------------------------------------------------------------- */
html,body,div,span,applet,object,iframe,h1,h2,h3,h4,h5,h6,p,blockquote,pre,a,abbr,acronym,address,big,cite,code,del,dfn,em,img,ins,kbd,q,s,samp,small,strike,strong,sub,sup,tt,var,b,u,i,center,dl,dt,dd,ol,ul,li,fieldset,form,label,legend,table,caption,tbody,tfoot,thead,tr,th,td,article,aside,canvas,details,embed,figure,figcaption,footer,header,hgroup,menu,nav,output,ruby,section,summary,time,mark,audio,video{margin:0;padding:0;border:0;font-size:100%;font:inherit;vertical-align:baseline}article,aside,details,figcaption,figure,footer,header,hgroup,menu,nav,section{display:block}body{line-height:1}ol,ul{list-style:none}blockquote,q{quotes:none}blockquote:before,blockquote:after,q:before,q:after{content:'';content:none}table{border-collapse:collapse;border-spacing:0}


/* Make box-sizing "border-box" as default */
html {
  box-sizing: border-box;
}
*, *:before, *:after {
  box-sizing: inherit;
}


/*2.Main tags
*******************************/
html{
    font-size: 16px;
    scroll-behavior: smooth;
}
html {
    font-size: 18pt;
}

    @media screen and (max-width: 1680px) {

        html {
            font-size: 14pt;
        }

    }

    @media screen and (max-width: 1280px) {

        html {
            font-size: 12pt;
        }

    }

    @media screen and (max-width: 736px) {

        html {
            font-size: 11pt;
        }

    }

    @media screen and (max-width: 360px) {

        html {
            font-size: 10pt;
        }

    }

main{
    font-family: 'Roboto', sans-serif;
    font-size: 1em;
    font-weight: 300;
    line-height: 1.5em;
    /*
    letter-spacing: 0.01em;
    word-spacing: 0.1em;
    */
    background-color: antiquewhite;
}
main.is-preload *, body.is-preload *:before, body.is-preload *:after {
    -moz-animation: none !important;
    -webkit-animation: none !important;
    -ms-animation: none !important;
    animation: none !important;
    -moz-transition: none !important;
    -webkit-transition: none !important;
    -ms-transition: none !important;
    transition: none !important;
}


h1,h2,h3,h4{
    font-family: 'Merriweather Sans', sans-serif;
    font-weight: 500;

}
h1 {
    font-size: 1.8em;
    margin-bottom: 0.5em; /*real margin in px*/
}
h2 {
    font-size: 1.5em;
    font-weight: 400;
    margin-bottom: 0.3em; /*real margin in px*/
}
.image {
    border: 0;
    border-radius: 4px;
    display: inline-block;
    position: relative;
}

    .image img {
        display: block;
        border-radius: 4px;
    }

    .image.left, .image.right {
        width: 40%;
        max-width: 10rem;
    }

        .image.left img, .image.right img {
            width: 100%;
        }

    .image.left {
        float: left;
        margin: 0 1.5rem 1rem 0;
        top: 0.25rem;
    }

    .image.right {
        float: right;
        margin: 0 0 1rem 1.5rem;
        top: 0.25rem;
    }

    .image.fit {
        display: block;
        margin: 0 0 2rem 0;
        width: 100%;
    }

        .image.fit img {
            width: 100%;
        }

    .image.main {
        display: block;
        margin: 0 0 3rem 0;
        width: 100%;
    }

        .image.main img {
            width: 100%;
        }


        section.special, article.special {
            text-align: center;
        }
    
        header p {
            position: relative;
            margin: -0.65rem 0 1.5rem 0;
            font-style: italic;
        }
    
        header h1 + p {
            font-size: 1.375rem;
        }
    
        header h2 + p {
            font-size: 1.25rem;
        }
    
        header h3 + p {
            font-size: 1.1rem;
        }
    
        header h4 + p,
        header h5 + p,
        header h6 + p {
            font-size: 0.9rem;
        }
    
        header p {
            color: rgba(0, 0, 0, 0.75);
        }

        
/*LINKS*/
a {
    text-decoration: none;
    color: #178ef5;
    outline: none;
    transition: color .5s ease, background .5s ease;
}
a:hover{
    color:#0061B4;
    background-color: aqua;
    text-decoration : underline dotted;
}

/*PARAGRAPHS*/
P{
    margin-bottom: 1em;
}

strong{
    font-weight: 500;
}

em {
font-style: italic;
}


/*3.HELPER CLASSES (reausable styles)
------------------------------------- */

.MB1 {
margin-bottom: 1rem;
}

.MB1p5 {
    margin-bottom: 1.5rem;
    }

.MB2 {
margin-bottom: 2rem;
}


/*PADDINGS*/
.pB1 {
    margin-bottom: 1rem;
    }
    
.pB1p5 {
        margin-bottom: 1.5rem;
        }
    
.pB2 {
    margin-bottom: 2rem;
    }
.MT2{
        margin-top: 2rem;
    }
.MY2{
    margin: 2rem 0;
}

/*BGs*/
.bg-grey{
    background-color: rgba(0, 0, 0,0.1);
    padding: 1em;
}



/*4. LAYOUTS
------------------------------------- */
/*Custom Styles depending on your Project*/


/*5.MEDIA QUERIES (Responsive stuff)
------------------------------------- */